@tailwind base;
@tailwind components;
@tailwind utilities;

.table-with-space {
  border-collapse: separate;
  border-spacing: 5px 5px; /* Adjust the value for spacing */
}

@media (min-width: 640px) {
  /* After 640px  */
  .custom-min-width {
    width: 1850px;
  }
}